.google {
    border: none;
    padding: 10px;
    border: 1px solid rgb(116, 135, 241);
    border-radius: 10px;
    background-color: azure;
}

.social-container {
    text-align: center;

}

.google:hover {
    background-color: rgb(110, 110, 193);
}